.additional-products {
  padding: 25px 0 35px;

  @media (min-width: $screen-tablet) {
    padding: 68px 0px 76px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 77px;
    padding-bottom: 85px;
  }
}

.additional-products__title {
  font-family: $font-family-secondary;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
  margin-top: 0;
  margin-bottom: 35px;

  @media (min-width: $screen-tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 81px;
    padding-left: 37px;
  }
  @media (min-width: $screen-desktop) {
  padding-left: 0;
  }
}

.additional-products__grid {
  @media (min-width: $screen-desktop) {
  display: grid;
  grid-template-columns:  1fr 245px;
  column-gap: 79px;
  }
}

.additional-products__list {
  @include list-reset;
}

.additional-products__item {}

.additional-products__special-offer {
  margin-top: 31px;

  @media (min-width: $screen-tablet) {
    margin-top: 68px;
  }

  @media (min-width: $screen-desktop) {
  margin-top: 0;
  }
}
