.features {
  padding-bottom: 48px;
  @media (min-width: $screen-tablet) {
    padding-bottom: 47px;
  }
  @media (min-width: $screen-desktop) {
    padding-bottom: 26px;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  @media (min-width: $screen-tablet) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  @include list-reset;
  display: grid;
  row-gap: 20px;
  @media (min-width: $screen-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 135px;
    padding-right: 78px;
  }
  @media (min-width: $screen-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 37px 78px;
    padding-right: 0;
  }
}

.features__item {
  @media (min-width: $screen-tablet) {
    padding-top: 40px;
    padding-bottom: 55px;
  }

}



.features__item--leaf {
  .features__text::before {
    background-image: url("../../img/icons/leaf.svg");
  }
}

.features__item--tub {
  .features__text::before {
    background-image: url("../../img/icons/tub.svg");
  }
}

.features__item--eat {
  .features__text::before {
    background-image: url("../../img/icons/eat.svg");
  }
}

.features__item--alarm {
  .features__text::before {
    background-image: url("../../img/icons/alarm.svg");
  }
}


.features__text {
  display: grid;
  grid-template-columns: 60px 1fr;
  margin: 0;
  column-gap: 20px;
    @media (max-width: $screen-mobile) {
        & br {
            display: none;
        }
    }
  @media (min-width: $screen-tablet) {
    grid-template-columns: auto;
    font-size: 16px;
    line-height: 24px;
    row-gap: 33px;
  }
}

.features__text::before {
  display: inline-flex;
  content: '';
  height: 60px;
  width: 60px;
  background-color: $basic;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $screen-tablet) {
    width: 80px;
    height: 80px;
  }
}

