.flat-card {
  border-top: 1px solid $grey-300;
  padding-top: 13px;
  padding-bottom: 18px;

  @media (min-width: $screen-tablet) {
    padding: 26px 37px 28px;
    border-left: 1px solid $grey-300;
    border-right: 1px solid $grey-300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $screen-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 244px;
    padding: 14px 0 17px;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}

.flat-card:last-of-type {
  border-bottom: 1px solid $grey-300;
}

.flat-card__description-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $grey-600;

  @media (min-width: $screen-tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 0;
  }
}

.flat-card__description-list {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $screen-desktop) {
    margin-bottom: 0;
  }
}

.flat-card__description-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $screen-tablet) {
    display: grid;
    grid-template-columns: auto minmax(92px, auto);
    padding-top: 3px;
    text-align: right;
  }

  @media (min-width: $screen-desktop) {
    grid-template-columns: auto minmax(82px, auto);
  }
}

.flat-card__description-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $grey-500;

  @media (min-width: $screen-tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.flat-card__description-value {
  margin-left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $grey-500;

  @media (min-width: $screen-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $screen-desktop) {
    text-align: left;
  }
}

.flat-card__link {
  width: 100%;

  &:focus {
    outline: 2px solid $grey-600;
  }

  &:active {
    outline: none;
  }
}
