.form {}

.form__caption {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

}

.form__about-cat-input-wrapper {
  padding: 39px 0 26px;
  display: grid;
  row-gap: 23px;

  @media (min-width: $screen-tablet) {
    row-gap: 72px;
    padding: 66px 0 71px;
  }

  @media (min-width: $screen-desktop) {
    padding: 61px 0 69px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

}

.form__group-name {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  color: #000000;
  margin-bottom: 0px;
}

.form__element {
  display: flex;
  align-items: center;
  margin: 0;
}

.form__element-name {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__element-name:first-child {
  margin-right: 15px;
}

.form__input {
  flex-grow: 1;
}

.form__group-radio-wrapper {
  display:grid;
  row-gap: 12px;
  padding: 23px 20px 19px;
  margin: 0 -20px;
  border-top: 1px solid $grey-300;
  border-bottom: 1px solid $grey-300;

}

.form__radio {}

.form__element-email {}

.form__textarea-wrapper{
  margin: 38px 0 19px;

  @media (min-width: $screen-tablet) {
    margin: 76px 40px 65px;
  }

  @media (min-width: $screen-desktop) {
    margin: 76px 0 67px;
  }
}


.form__textarea {

}

.form__checkbox {}

.form__button {}

.form__footnote {
  color: #000000;
  text-align: center;
  margin-top: 19px;
}
