.hero {
  padding-top: 27px;
  color: #ffffff;
  //background-color: $basic;
  /*
  background-image: url(../img/backgrounds/index-background-overlay.jpg);
  background-color: $basic;
  background-size: contain;
  background-repeat: no-repeat;
  */
  text-align: center;

  @media (min-width: $screen-tablet) {
    text-align: left;
    padding-top: 34px;
    padding-bottom: 526px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 223px;
    padding-bottom: 186px;
  }
}

.hero::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 302px;
  left: 0;
  top: 0;
  right: 0;
  background-color: $basic;
  background-image: url("../../img/backgrounds/index-background-desktop-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $screen-tablet) and (max-width: ($screen-desktop - 1px)) {
    display: none;
  }

  @media (min-width: $screen-desktop) {
    left: calc(50% - 43px);
    width: auto;
    height: 100%;
    background-size: cover;
    background-position: 100% 100%;
    background-color: inherit;
  }
}

.hero::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 302px;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: $screen-tablet) and (max-width: ($screen-desktop - 1px)) {
    display: none;
  }

  @media (min-width: $screen-desktop) {
    right: 0;
    left: auto;
    width: 50vw;
    height: 100%;
  }
}

.hero__content-wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: $screen-tablet) {
    max-width: 420px;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 36px;
    min-width: 460px;
  }

}



.hero__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: $font-family-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $screen-tablet) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 42px;
  }
}

.hero__slogan {
  margin-top: 0px;
  margin-bottom: 29px;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 63px;
  }
  @media (min-width: $screen-desktop) {
 margin-bottom: 50px;
  }
}

.hero_product-image-wrapper {
  margin: 0;
  margin-bottom: 3px;
}

.hero__product-image {
  display: block;
  margin: 0 auto;

  @media (min-width: $screen-tablet) {
    position: absolute;
  }
}

.hero__action-button {
  width: 100%;

  @media (min-width: $screen-tablet) {
    width: auto;
  }
}
