.logo {
  @media (min-width: $screen-tablet ) {
    display: flex;
  }
}
.logo__icon {
  @include vertical-absolute-centering;
  left: 0;
  @media (min-width: $screen-tablet ) {
    position: static;
    transform: initial;
  }
}
.logo__shop-name {
  display: block;
}
