.main-nav {
  display: none;
  background-color: #ffffff;
  text-align: center;

  @include list-reset;

  @media (max-width: $screen-mobile) {
    width: 100vw;
  }

  @media (min-width: $screen-tablet) {
    position: initial;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    background-color: inherit;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 10px;
  }
}

.main-nav--under-hero {
  @media (min-width: $screen-desktop) {
    width: 50%;
    justify-content: flex-end;
  }
}

.main-nav--visible {
  @media (max-width: $screen-mobile) {
    display: block;
  }
}

.main-nav__link {
  display: block;
  padding: 22px 22px 24px;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: $screen-mobile) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $screen-tablet) {
    margin-left: 36px;
    padding: 11px 0 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $screen-desktop) {
    font-size: 20px;
    padding: 6px 0;
    line-height: 30px;
    margin-left: 35px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    outline: 1px solid;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

.main-nav__item:first-child .main-nav__link {
  @media (min-width: $screen-tablet) {
    margin-left: initial;
  }
}

.main-nav__link--current {
  cursor: default;

  @media (min-width: $screen-tablet) {
    border-bottom: 2px solid $basic;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.main-nav--dark-bg {
  @media (min-width: $screen-desktop) {
    .main-nav__link {
      color: #ffffff;
    }

    .main-nav__link--current {
      border-color: #ffffff;
    }
  }
}
