.main-nav {
  display: none;
  background-color: #ffffff;
  text-align: center;

  @media (max-width: $screen-mobile) {
    width: calc(100% + 40px);
  }


  @media (min-width: $screen-tablet) {
    display: flex;
    background-color: inherit;
  }
}

.main-nav--visible {
  @media (max-width: $screen-mobile) {
    display: block;
  }
}

.main-nav__list {
  //@include vertical-absolute-centering;
  @include list-reset;

  @media (min-width: $screen-tablet) {
    position: initial;
  }

}

.main-nav__item {}

.main-nav__link {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding: 22px 22px 24px;
  display: block;

  @media (max-width: $screen-mobile) {
    border-bottom: 1px solid #e6e6e6;

  }

  @media (min-width: $screen-tablet) {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 0 8px;
    margin-left: 36px;
  }

}

.main-nav__item:first-child .main-nav__link {
  @media (min-width: $screen-tablet) {
    margin-left: initial;
  }
}

.main-nav__link--current {
  @media (min-width: $screen-tablet) {
    border-bottom: 2px solid $basic;
  }
}
