.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px;
  z-index: 2;

  @media (min-width: $screen-tablet) {
    justify-content: space-between;
    padding: 26px 0;
  }

  @media (min-width: $screen-desktop) {
    justify-content: space-between;
    padding: 53px 0 36px;
  }
}

.navbar__logo {
  @media (min-width: $screen-tablet) {
    display: flex;
    align-items: center;
  }
}

.navbar__logo-icon {
  @media (min-width: $screen-tablet) {
    position: static;
    transform: initial;
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }

  @media (min-width: $screen-desktop) {
    width: 71px;
    height: 59px;
  }
}

.navbar__logo-shop-name {
  @media (max-width: $screen-mobile) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #111111;
  }

  @media (min-width: $screen-tablet) {
    fill: $grey-500;
  }

  @media (min-width: $screen-desktop) {
    width: 118px;
    height: 22px;
  }
}

.navbar__toggle {
  height: 18px;
  width: 24px;
  cursor: pointer;
  background-image: url("../img/icons/burger.svg");
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  @media (min-width: $screen-tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}

.navbar__toggle--active {
  background-image: url("../img/icons/close.svg");
}

.navbar__main-nav {
  z-index: 2;

  @media (max-width: $screen-mobile) {
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
  }
}


.navbar--no-js {
  @media (max-width: $screen-mobile) {
    flex-wrap: wrap;

    .navbar__main-nav {
      display: block;
      position: static;
    }

    .navbar__toggle {
      display: none;
    }

    .navbar__logo-shop-name {
      top: 31px;
    }
  }
}
