.page-main {

  @media (max-width: $screen-mobile) {
    border-top: 1px solid #d9d9d9;
  }
}

.page-main__hero {
  position: relative;

  @media (min-width: $screen-tablet) {
    margin-left: 87px;
  }
}

.page-main__main-title {
  margin-top: 27px;
  margin-bottom: 37px;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  @media (min-width: $screen-tablet) {
    margin-top: 35px;
    margin-bottom: 55px;
    padding: 0 39px;
    font-style: normal;
    font-family: $font-family-secondary;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #000000;
  }
}

.page-main--under-header-position {
  @media (min-width: $screen-desktop) {
    margin-top: -165px;
  }
}
