.promo {
  position: relative;
  padding: 20px 0 20px;

  @media (min-width: $screen-tablet) {
    padding: 0 0 45px;
  }

  @media (min-width: $screen-desktop) {
    padding: 82px 0 71px;
  }
}


.promo__list {

  display: grid;
  row-gap: 20px;

  @media (min-width: $screen-tablet) {
    row-gap: 30px;
  }

  @media (min-width: $screen-desktop) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.promo__item {
  position: relative;
  padding: 30px 27px 18px 20px;
  background-color: $grey-100;

  @media (min-width: $screen-tablet) {
    padding: 77px 53px 53px;
    padding-right: 311px;
  }

  @media (min-width: $screen-desktop) {
    padding-right: 53px;
    padding-bottom: 53px;
  }
}


.promo__item--icon::before {
  position: absolute;
  content: '';
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: $basic;
  top: 23px;
  left: 22px;

  @media (min-width: $screen-tablet) {
    width: 200px;
    height: 200px;
    top: 90px;
    left: auto;
    right: 60px;
  }

  @media (min-width: $screen-desktop) {
    left: 51px;
    right: auto;
    top: 46px;
    width: 100px;
    height: 100px;
  }
}

.promo__item--icon::after {
  position: absolute;
  content: '';
  height: 70px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 10px 20px;

  @media (min-width: $screen-tablet) {
    height: 259px;
    width: 281px;
  }

  @media (min-width: $screen-desktop) {
    width: 174px;
    height: 122px;
  }
}

.promo__item--icon-slim::after {
  top: 0px;
  left: 19px;
  background-size: 36px 50px;
  background-image: url("../../img/icons/cat-slim.svg");

  @media (min-width: $screen-tablet) {
    top: 62px;
    left: auto;
    right: -43px;
    background-size: 139px 194px;
  }

  @media (min-width: $screen-desktop) {
    background-size: 70px 97px;
    right: auto;
    left: 56px;
    top: 20px;
  }
}

.promo__item--icon-pro::after {
  top: 3px;
  left: 2px;
  background-size: 67px 50px;
  background-image: url("../../img/icons/cat-pro.svg");

  @media (min-width: $screen-tablet) {
    background-size: 268px 200px;
    left: auto;
    top: 71px;
    right: 22px;
  }

  @media (min-width: $screen-desktop) {
    background-size: 134px 100px;
    right: 0;
    top: 24px;
    left: 22px;

  }
}

.promo__item-title {
  margin-top: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    padding-left: 0;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 25px;

  }

  @media (min-width: $screen-desktop) {
    padding-left: 160px;
    margin-bottom: 74px;
  }
}

.promo__item-title--slim-icon {}

.promo__item-title--pro-icon {}

.promo__item-text {
  margin-top: 0;

  @media (min-width: $screen-tablet) {
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
  }
}

.promo__item-text:last-of-type {
  margin-bottom: 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $screen-tablet) {
    border: none;
    margin-bottom: 25px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 0;
  }
}

.promo__item-link {
  display: inline-flex;
  padding: 4px 47px 4px 0;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  align-items: center;

  @media (min-width: $screen-tablet) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }
}

.promo__item-link:hover::after,
.promo__item-link:active::after {
  background-position: 0 50%;
}


.promo__item-link::after {
  content: '';
  width: 32px;
  height: 10px;
  display: inline-flex;
  margin-left: 10px;
  background-image: url("../../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: -8px 50%; //7
  transition: 0.3s;

  @media (min-width: $screen-tablet) {
    margin-left: 25px;
  }

}
