.show-more {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid $grey-200;
  padding: 24px 0 24px;
  text-align: center;
  background-image: url("../../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 25px;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    background-size: 60px;
    background-image: url("../../img/icons/plus-tablet.svg");
    background-position: 50% 134px;
    border: none;
  }

  @media (min-width: $screen-desktop) {
    border: none;
    padding-bottom: 0;
    justify-content: flex-end;
  }
}

.show-more__content-wrapper {
  padding-top: 53px;

  @media (min-width: $screen-tablet) {
    margin-top: auto;
    padding: 159px 36px 36px;
    border: 2px solid $grey-100;
  }

  @media (min-width: $screen-desktop) {
    margin-top: 0;
    padding: 160px 36px 37px;
  }
}

.show-more__title {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #111111;
  margin-top: 0;
  margin-bottom: 8px;

  @media (min-width: $screen-tablet) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    padding: 0 35px;
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
  }
}

.show-more__description {
  margin-top: 0;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $grey-500;

  @media (min-width: $screen-tablet) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 10px;
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
  }
}

.show-more__button {
  width: 100%;

  @media (min-width: $screen-tablet) {
    margin: 86px auto 0;
  }
}
