.social-icon {

  fill: $grey-400;


}

.social-icon--vkontakte {
  @media (min-width: $screen-tablet) {
    width: 30px;
    height: 26px;
  }

}

.social-icon--instagram {
  @media (min-width: $screen-tablet) {
    width: 30px;
    height: 26px;
  }

}

.social-icon--facebook {
  fill:none;
  stroke: $grey-400;
  @media (min-width: $screen-tablet) {
    width: 28px;
    height: 33px;
  }

}
