.socials {
  padding: 5px 0;

  @media (max-width: $screen-mobile) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.socials__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials__icon {
  transition: all 0.3s;
  fill: $grey-400;
}

.socials__icon--vkontakte {
  @media (min-width: $screen-tablet) {
    width: 30px;
    height: 26px;
  }
}

.socials__icon--instagram {
  @media (min-width: $screen-tablet) {
    width: 23px;
    height: 23px;
  }
}

.socials__icon--facebook {
  fill: none;
  stroke: $grey-400;

  @media (min-width: $screen-tablet) {
    width: 28px;
    height: 33px;
  }
}

.socials__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 18px;

  @media (min-width: $screen-tablet) {
    padding: 0 10px;
  }

  &:hover,
  &:focus {
    .socials__icon--vkontakte {
      fill: $basic;
    }

    .socials__icon--instagram {
      fill: $basic;
    }

    .socials__icon--facebook {
      stroke: $basic;
    }
  }

  &:active {
    .socials__icon--vkontakte {
      fill: $basic;
      opacity: 0.3;
    }

    .socials__icon--instagram {
      fill: $basic;
      opacity: 0.3;
    }

    .socials__icon--facebook {
      stroke: $basic;
      opacity: 0.3;
    }
  }
}
