.socials {
  padding: 5px 0;

  @media (max-width:$screen-mobile) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.socials__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials__item {}

.socials__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 18px;

  @media (min-width: $screen-tablet) {
    padding: 0 10px;
  }

  &:hover {
    .social-icon {
      stroke: $basic;
    }
  }

  &:active {
    .social-icon {
      stroke: $basic;
      opacity: 0.3;
    }
  }
}
