.special-offer {
  display: flex;
  flex-direction: column-reverse;
  min-height: 290px;
  padding-bottom: 43px;
  color: #ffffff;
  background-color: $basic;
  background-image: url("../img/backgrounds/gift-backgroud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/gift-backgroud@2x.jpg");
  }
  @media (min-width: $screen-tablet) {
  min-height: 200px;
  display: block;
  padding: 73px 90px 67px;
  background-image: url("../img/backgrounds/gift-backgroud-tablet.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/gift-backgroud-tablet@2x.jpg");
  }
  }
}

.special-offer:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(104, 183, 56, 0.85);
}

.special-offer::after {
  content: '';
  position: absolute;
  width: 78px;
  height: 78px;
  background-image: url("../../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: $screen-tablet) {
    top: 50%;
    transform: translateY(-50%);
    left: 79px;
  }
}

.special-offer__icon {}

.special-offer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 161px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @media (min-width: $screen-tablet) {
    width: 195px;
    margin: 0 0 0 auto;
    text-align: left;
  }
}
