.switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;

  @media (min-width: $screen-tablet) {
    padding: 40px 10px 5px;
  }

  @media (min-width: $screen-desktop) {
    padding: 9px 0;
    padding-left: 22px;
    margin-left: -8px;
    margin-right: 7px;
  }
}

.switcher__control-button {
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  text-align: center;

  &:hover,
  &:focus {
    border-bottom: 1px solid #919191;
  }

  &:active {
    border-bottom: 1px solid transparent;
  }

  @media (min-width: $screen-tablet) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #919191;
    padding-left: 0;
    padding-right: 0;
  }
}

.switcher__indicator {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 14px;
  width: 86px;
  padding: 0 5px;
  background-color: #ffffff;
  border: 1px solid $grey-300;
  border-radius: 6px;
  transition: 0.3s;

  @media (min-width: $screen-tablet) {
    display: none;
  }
}

.switcher__indicator::before {
  content: "";
  height: 6px;
  width: 50%;
  background-color: $basic;
  border-radius: 6px;
}

.switcher__indicator--before {
  justify-content: flex-start;
}

.switcher__range-input {
  @media (max-width: $screen-mobile) {
    display: none;
  }

  position: relative;
  flex-grow: 1;
  margin: 0 23px;
}

.switcher__range-line {
  height: 6px;
  border-radius: 6px;
  background-color: $grey-300;
}

.switcher__range-button {
  left: 50%;
  top: -14px;
  transform: translateX(-50%);
  position: absolute;
  height: 34px;
  width: 34px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid $grey-300;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
}

.switcher__range-button::before {
  content: "";
  height: 8px;
  width: 8px;
  display: inline-flex;
  background-color: $basic;
  border-radius: 50%;
}
