.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 10px;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $basic;
  border: none;
  text-align: center;
  min-height: 40px;

  &--submit{
    font-size: 16px;
    line-height: 20px;
    @media (min-width: $screen-tablet) {
      min-height: 52px;
      font-size: 20px;
      line-height: 20px;
      display: inline-flex;
      padding: 14px 26px;
      min-width: 282px;
    }
  }

  &:hover {
    background-color: $basic-dark;
  }

  &:active {
    color: #8ec36d;
  }

}

.button--light {
  background-color: $grey-100;
  color: $grey-500;

  &:hover {
    background-color: $grey-200;
  }

  &:active {
    color: #b9b9b9;
  }
}
