*,
*::before,
*::after {
  box-sizing: border-box;
  /*outline: 1px solid green;*/
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

body {
  margin: 0 auto;
  font-style: normal;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  color: $grey-500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
