.catalog {
}
.visually-hidden {
}
.catalog__list {
  @include list-reset;
  display: grid;
}
.catalog__item {
}
.catalog-card {
  border-top: 1px solid $grey-200;
  display: flex;
  flex-wrap: wrap;
  padding: 19px 0 24px;
}
.catalog-card__image-wrapper {
  width: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.catalog-card__image {
}
.catalog-card__description {
  width: 50%;
}
.catalog-card__description-title {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $grey-600;
  letter-spacing: 0em;
  text-transform: uppercase;
}
.catalog-card__description-list {
  padding: 18px 0px 22px;
  margin: 0;
}
.catalog-card__description-item {
  display: flex;
  justify-content: space-between;
}
.catalog-card__description-name {
  font-size: 12px;
  line-height: 16px;
}
.catalog-card__description-value {
  margin-left: 0;
  font-size: 12px;
  line-height: 16px;
}
.catalog-card__button {
  display: flex;
}
.button {
}
.card__button {
}
.card__icon {
}
.card__description {
}

.show-more {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid $grey-200;
  padding: 24px 0 24px;
  text-align: center;
}
.show-more__content-wrapper {
  padding-top: 53px;
}
.show-more__title {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #111111;
  margin-top: 0;
  margin-bottom: 8px;
}
.show-more__description {
  margin-top: 0;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: $grey-500;
}
.show-more__button {
}
.button {
}
.button--light {
}

.additional-products {
}
.additional-products__title {
}
.additional-products__list {
}
.additional-products__item {
}
.flat-card {
}
.flat-catalog-card__description-title {
}
.flat-card__description-list {
}
.flat-card__description-item {
}
.flat-card__description-name {
}
.flat-card__description-value {
}
.flat-card__button {
}
.special-offer {
}
.special-offer__icon {
}
.special-offer__text {
}
