.input-group {
  display: grid;
  row-gap: 14px;

  @media (min-width: $screen-tablet) {
    row-gap: 19px;
  }

}

.input-group--contacts {
  padding: 35px 0 24px;

  @media (min-width: $screen-tablet) {
    padding: 76px 0 65px;
  }

  @media (min-width: $screen-desktop) {
    padding: 76px 0 69px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.visually-hidden {}

.input {
  display: inline-flex;
  align-items: center;
  min-height: 45px;
  padding: 14px 14px 13px;
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  border: none;
  outline: 1px solid #e7e7e7;
  outline-offset: -1px;

  @media (min-width: $screen-tablet) {
    min-height: 52px;
    padding: 9px 21px 11px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    outline-color: $grey-300;
  }

  &:focus {
    outline-color: $grey-500;
    outline-width: 2px;
    outline-offset: -2px;
  }

  &:invalid {
    outline-color: $error;
    outline-width: 2px;
    outline-offset: -2px;
  }
}

.input-error {
  outline-color: $error;
  outline-width: 2px;
  outline-offset: -2px;
}

.input--number {}

.radio {
  color: $grey-600;


  &:hover {
    &::before {
      border-color: #bababa;
    }
  }


  &:focus {
    outline: 1px solid;
  }

  &:active {
    opacity: 0.3;
  }



}

.radio__input {
  &:checked~ {
    .radio__label::after {
      display: inline-flex;
    }
  }
}

.radio__label {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px;
  align-items: center;
  column-gap: 15px;
  grid-template-areas: "mark radio";
  cursor: pointer;
  grid-area: radio;
  cursor: pointer;

  &::before {
    content: '';
    display: inline-flex;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-300;
    border-radius: 50%;
    grid-area: mark;
    justify-self: center;
    align-self: center;
  }

  &::after {
    content: '';
    display: none;
    width: 13px;
    height: 13px;
    background-color: $basic;
    border-radius: 50%;
    grid-area: mark;
    justify-self: center;
    align-self: center;

    @media (min-width: $screen-tablet) {
      width: 18px;
      height: 18px;
    }
  }
}


.input--mail {
  background-image: url("../img/icons/email.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.input--phone {
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.textarea {
  width: 100%;
  min-height: 150px;
  border: none;
  border: none;
  outline: 1px solid #e7e7e7;
  outline-offset: -1px;
  color: inherit;
  padding: 10px 14px 15px;
  text-transform: uppercase;
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: $grey-500;


  &:hover {
    outline-color: $grey-300;
  }

  &:focus {
    outline-color: $grey-500;
    outline-width: 2px;
    outline-offset: -2px;
  }

  &:invalid {
    outline-color: $error;
    outline-width: 2px;
    outline-offset: -2px;
  }
}

.form__group-checkbox-wrapper {
  display: grid;
  row-gap: 12px;
  padding: 34px 0;

  @media (min-width: $screen-tablet) {
    padding: 57px 54px;
  }

  @media (min-width: $screen-desktop) {
    padding: 57px 61px;
  }
}

.checkbox {


  &:hover {
    &::before {
      border-color: #bababa;
    }
  }

  &:focus {
    outline: 1px solid;
  }

  &:active {
    opacity: 0.3;
  }

}

.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__label::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: '';
  height: 30px;
  width: 30px;
  margin-right: 16px;
  outline: 1px solid $grey-300;
  outline-offset: -1px;
}

.checkbox__input:checked~.checkbox__label::before {
  content: '+';
}

.button {}
