.page-main {

  padding-top: 27px;

  @media (max-width: $screen-mobile) {
    border-top: 1px solid #d9d9d9;
  }
}

.page-main__main-title {
  margin-top: 0;
  margin-bottom: 37px;
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}


.input-group {
  display: grid;
  row-gap: 14px;

}

.input-group--contacts {
  padding: 35px 0 24px;
  @media (min-width: $screen-tablet) {
    padding: 76px 0 65px;
  }
  @media (min-width: $screen-desktop) {
    padding: 76px 0 69px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.visually-hidden {}

.input {
  border: none;
  outline: 1px solid #e7e7e7;
  outline-offset: -1px;
  color: inherit;
  padding: 14px 14px 15px;

  &:hover {
    outline-color: $grey-300;
  }

  &:focus {
    outline-color: $grey-500;
    outline-width: 2px;
    outline-offset: -2px;
  }

  &:invalid {
    outline-color: $error;
    outline-width: 2px;
    outline-offset: -2px;
  }
}

.input-error {
  outline-color: $error;
  outline-width: 2px;
  outline-offset: -2px;
}

.input--number {}

.radio {
  color: $grey-600;
}

.input--mail {}

.textarea {
  width: 100%;
  min-height: 150px;
  border: none;
  border: none;
  outline: 1px solid #e7e7e7;
  outline-offset: -1px;
  color: inherit;
  padding: 14px 14px 15px;
  text-transform: uppercase;

  &:hover {
    outline-color: $grey-300;
  }

  &:focus {
    outline-color: $grey-500;
    outline-width: 2px;
    outline-offset: -2px;
  }

  &:invalid {
    outline-color: $error;
    outline-width: 2px;
    outline-offset: -2px;
  }
  @media (min-width: $screen-tablet) {
    width: calc(100% - 80px);
  }
  @media (min-width: $screen-desktop) {
  width: 100%;
  }
}

.form__group-checkbox-wrapper {
  display: grid;
  row-gap: 12px;
  padding: 34px 0;
  @media (min-width: $screen-tablet) {
    padding: 57px 54px;
  }
  @media (min-width: $screen-desktop) {
    padding: 57px 61px;
  }
}

.checkbox {
  display: flex;
  align-items: center;

}

.checkbox::before {
  content: '+';
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  outline: 1px solid $grey-300;
  outline-offset: -1px;
  margin-right: 16px;
}

.button {}
