@import "variables/variables.scss";
@import "global/global.scss";
@import "global/button.scss";
@import "global/fonts";
@import "mixins/mixins.scss";

@import "blocks/container.scss";
@import "blocks/page-header";
@import "blocks/navbar";
@import "blocks/logo";
@import "blocks/main-nav";
@import "blocks/page-main";
@import "blocks/hero";
@import "blocks/promo";
@import "blocks/features";
@import "blocks/example.scss";
@import "blocks/stats-result.scss";
@import "blocks/page-footer";
@import "blocks/contacts.scss";
@import "blocks/form.scss";


@import "form.scss";
@import "catalog.scss";



.comparison {
  @media (min-width: $screen-tablet) {
  height: 608px;
  overflow: hidden;
  }
}

.comparison__image-wrapper {}

.comparison__image {}

.comparison__image--before {}

.comparison__switcher-area {}

.switcher {}

.switcher__control-button {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;

  color: #000000;

}

.switcher__button--before {}

.switcher__indicator {}

.switcher__indicator--before {}

.switcher__button--after {}

.page-footer {}

.logo__shop-name--large {}

.socials {
  padding: 5px 0;

  @media (max-width:$screen-mobile) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

}

.socials__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials__item {}

.socials__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 18px;
}

.social-icon {}

.social-icon--vkontakte {}

.social-icon--instagram {}

.social-icon--facebook {}

.page-footer__copyright {}

.copyright {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 22px;
}

.copyright__name {
  color: $grey-500;
  font-size: 16px;
  line-height: 18px;
}

.copyright__logo {}
