@import "variables/variables.scss";
@import "global/global.scss";
@import "global/button.scss";
@import "global/fonts";
@import "mixins/mixins.scss";
@import "blocks/container.scss";
@import "blocks/page-header";
@import "blocks/navbar";
@import "blocks/main-nav";
@import "blocks/page-main";
@import "blocks/hero";
@import "blocks/promo";
@import "blocks/features";
@import "blocks/example.scss";
@import "blocks/stats-result.scss";
@import "blocks/page-footer";
@import "blocks/contacts.scss";
@import "blocks/form.scss";
@import "form.scss";
@import "catalog.scss";

.comparison {
  @media (min-width: $screen-tablet) {
    padding: 0 58px;
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
  }
}

.comparison__image-wrapper {
  margin-bottom: 20px;

  @media (min-width: $screen-tablet) {
    position: relative;
    margin-top: 32px;
    height: 511px;

    overflow: hidden;
  }

  @media (min-width: $screen-desktop) {
    margin-top: 0;
  }

}

.comparison__image {
  @media (max-width: $screen-mobile) {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    max-width: initial;
    height: 100%;
    width: auto;

  }
}

.comparison__image--phone-visible {
  @media (max-width: $screen-mobile) {
    display: block;
  }
}

.comparison__image-before-wrapper {
  @media (min-width: $screen-tablet) {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }
}

.comparison__image--before {
  @media (min-width: $screen-tablet) {
    display: block;
  }
}

.comparison__image-after-wrapper {
  @media (min-width: $screen-tablet) {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
}

.comparison__image--after {
  @media (min-width: $screen-tablet) {
    position: relative;
  }
}

.comparison__switcher-area {}

.switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;

  @media (min-width: $screen-tablet) {
    padding: 40px 10px 5px;
  }

  @media (min-width: $screen-desktop) {
    padding: 9px 0;
    margin-left: -8px;
    margin-right: 7px;
  }
}

.switcher__control-button {
  font-style: normal;
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  text-align: center;

  &:hover {
    border-bottom: 1px solid #919191;
  }

  @media (min-width: $screen-tablet) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #919191;
    padding-left: 0;
    padding-right: 0;
  }
}

.switcher__button--before {}

.switcher__indicator {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 14px;
  width: 86px;
  padding: 0 5px;
  background-color: #ffffff;
  border: 1px solid $grey-300;
  border-radius: 6px;
  transition: 0.3s;

  @media (min-width: $screen-tablet) {
    display: none;
  }
}

.switcher__indicator::before {
  content: '';
  height: 6px;
  width: 50%;
  background-color: $basic;
  border-radius: 6px;
}

.switcher__indicator--before {
  justify-content: flex-start;
}

.switcher__button--after {}



.switcher__range-input {
  @media (max-width: $screen-mobile) {
    display: none;
  }
  position: relative;
  flex-grow: 1;
  margin: 0 23px;
}

.switcher__range-line {
  height: 6px;
  border-radius: 6px;
  background-color: $grey-300;
}
.swither__range-button {
  left:50%;
  top: -14px;
  transform: translateX(-50%);
  position: absolute;
  height: 34px;
  width: 34px;
  background-color: #ffffff;
  border-radius: 50%;

  border: 1px solid $grey-300;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.swither__range-button::before {
  content: '';
  height: 8px;
  width: 8px;
  display: inline-flex;
  background-color: $basic;
  border-radius: 50%;

}


.page-footer {}

.page-footer__socials {
  @media (min-width: $screen-tablet) {
    margin-right: -28px;
  }
}

.logo__shop-name--large {}

.socials {
  padding: 5px 0;

  @media (max-width:$screen-mobile) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.socials__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials__item {}

.socials__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 18px;

  @media (min-width: $screen-tablet) {
    padding: 0 10px;
  }

  &:hover {
    .social-icon {
      stroke: $basic;
    }
  }

  &:active {
    .social-icon {
      stroke: $basic;
      opacity: 0.3;
    }
  }
}

.social-icon {

  fill: $grey-400;


}

.social-icon--vkontakte {
  @media (min-width: $screen-tablet) {
    width: 30px;
    height: 26px;
  }

}

.social-icon--instagram {
  @media (min-width: $screen-tablet) {
    width: 30px;
    height: 26px;
  }

}

.social-icon--facebook {
  fill:none;
  stroke: $grey-400;
  @media (min-width: $screen-tablet) {
    width: 28px;
    height: 33px;
  }

}

.page-footer__copyright {}

.copyright {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;

  &:hover {
    .copyright__logo {
      fill: $basic;
    }
  }
  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  color: $grey-500;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $screen-tablet) {
    font-size: 16px;
    line-height: 18px;
    margin-right: 24px;
  }
}

.copyright__logo {
  fill: $grey-400;

}
